.avatar-initials {
	width: 60px;
	height: 60px;
	border-radius: 50%;	
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 60px;
	margin: 10px;
	border-style: dashed;
    border-width: 1px;
}

.avatar-online {
	background: #39c65c;
	opacity: .6;
	border-color: #009933;
}

.avatar-offline {
	background: #e8f1f2;
	opacity: .5;
	border-color: #bfbfbf;
}