<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/2000/svg" layout:decorate="~{layout}">
<head> }
	<title>View All</title>
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
		  <div id="heading" class="masthead">
			<h3 class="muted">Welcome <span data-bind="text: $root.username"><button class="btn btn-primary float-right" data-bind="click: logout">Logout</button></h3>
		  </div>
		  <div data-bind="foreach: partitioned(friends, 2)">
			<div class="row" data-bind="template: { name: 'projectCell', foreach: $data }"></div>
		  </div>

		  <script id="projectCell" type="text/html">
			<div class="col-md-6">
				<span data-bind="text: username"></span>
				<div class="row" data-bind="template: { name: 'tdartboard', data: { url: $root.dartBoardUrl } }"></div>
			</div>
		  </script>
		  
		<script id="tdartboard" type="text/html">
			<object type="image/svg+xml" data="" width="50%" height="50%" data-bind="attr: { data: url }">
			</object>
		</script>

		  <div id="trade-dialog" class="modal hide fade" tabindex="-1">
			<div class="modal-body">
			  <div>Chat with <span data-bind="text: conversation().to().username"></span></div>
			  <div id="chat" style="height: 5em;max-height: 200px;overflow:scroll" data-bind="foreach: conversation().messages()">
				<div data-bind="text: messageFormatted"></div>
			  </div>
			  <form class="form-horizontal" data-bind="submit: conversation().send">
				<textarea data-bind="value: conversation().draft"></textarea>
				<button class="btn btn-primary" type="submit">Send</button>
			  </form>
			</div>
		</div>
			<div class="alert alert-warning">
			  <h5>Notifications</h5>
			  <ul data-bind="foreach: notifications">
				<li data-bind="text: notification"></li>
			  </ul>
			</div>
		  </div>
		</div>


	<!-- 3rd party -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" src="/webjars/jquery/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script th:src="@{/webjars/knockout/knockout.js}" src="/webjars/knockout/knockout.js"></script>
	<script th:src="@{/webjars/sockjs-client/sockjs.min.js}" src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.min.js}" src="/webjars/stomp-websocket/stomp.min.js"></script>

	<!-- application -->
	<script th:src="@{/js/message.js}" src="../static/js/message.js"></script>
	<script type="text/javascript">
	  (function() {
		var socket = new SockJS('/messages');
		var stompClient = Stomp.over(socket);

		var appModel = new ApplicationModel(stompClient);
		ko.applyBindings(appModel);

		appModel.connect();
		
		var logout = function(){
			appModel.logout();
		}

	  })();
	</script>
	</div>
</body>
</html>
