<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/2000/svg" layout:decorate="~{layout}">
<head>
	<title>View All</title>
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/5.3.1/css/all.min.css" />
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
		  <div id="heading" class="masthead row py-2 bg-light">
			<div class="col-md-9"><h3 class="muted">Welcome <span data-bind="text: $root.username"></h3></span></div><div class="col-md-3"><div class="btn-toolbar float-right"> <div class="btn-group mr-1" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Start New Game
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Cricket / 200</a>
    </div>
  </div><button class="btn btn-primary" data-bind="click: logout">Logout</button></div></div>
		  </div>
		  <div class="row py-1">
		  		<div class="col-md-6">
			  		<object type="image/svg+xml" data="" width="700px" height="700px" data-bind="attr: { data: $root.dartBoardUrl }">
					</object>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<table class="table borderless">
							  <thead>
							    <tr>
							      <th scope="col"><div class="avatar-initials">1</div></th>
							      <th scope="col"><div class="avatar-initials">2</div></th>
							      <th scope="col"><div class="avatar-initials"><img src="shark.png"/></div></th>

							      <th scope="col"><div class="avatar-initials">3</div></th>
							   	  <th scope="col"><div class="avatar-initials">4</div></th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td></td>
							      <td></td>
							      <th><div class="avatar-initials">20</div></th>
							      <td></td>
							      <td></td>
							    </tr>
							    <tr>
							      <td></td>
							      <td></td>
							      <th><div class="avatar-initials">19</div></th>
							      <td></td>
							      <td></td>
							    </tr>
							    <tr>
							      <td></td>
							      <td></td>
							      <th><div class="avatar-initials">18</div></th>
							      <td></td>
							      <td></td>
							     </tr> 
							     <tr>
							      <td></td>
							      <td></td>
							      <th><div class="avatar-initials">17</div></th>
							      <td></td>
							      <td></td>
							    </tr>
							    <tr>
							     <td></td>
							      <td></td>
							      <th><div class="avatar-initials">16</div></th>
							      <td></td>
							      <td></td>
							    </tr>
							    <tr>
							     <td></td>
							      <td></td>
							      <th><div class="avatar-initials">15</div></th>
							      <td></td>
							      <td></td>
							    </tr>
							    <tr>
							      <td></td>
							      <td></td>
							      <th><div class="avatar-initials"><i class="fa fa-bullseye bullseye"></i></div></th>
							      <td></td>
							      <td></td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="col-md-6">
							<div data-bind="foreach: partitioned(allUsers, 6)">
								<div  class="row" data-bind="template: { name: 'projectCell', foreach: $data }"></div>
				 			 </div>
				 		</div>
				 	</div>
				</div>
		    </div>

		  <script id="projectCell" type="text/html">
		  	<div class="col-md-2">
		  		<div class="avatar-initials" data-bind="text: firstName.charAt(0).toUpperCase() + lastName.charAt(0).toUpperCase(), css: ($root.online(email)) == true ? 'avatar-online' : 'avatar-offline'">
				</div>
		  	</div>
		  </script>
		  </div>
		</div>


	<!-- 3rd party -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" src="/webjars/jquery/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.14.4/dist/umd/popper.min.js}" src="/webjars/popper.js/1.14.4/dist/umd/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script th:src="@{/webjars/knockout/knockout.js}" src="/webjars/knockout/knockout.js"></script>
	<script th:src="@{/webjars/sockjs-client/sockjs.min.js}" src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.min.js}" src="/webjars/stomp-websocket/stomp.min.js"></script>



	<!-- application -->
	<script th:src="@{/js/message.js}" src="../static/js/message.js"></script>
	<script type="text/javascript">
	  (function() {
		var socket = new SockJS('/messages');
		var stompClient = Stomp.over(socket);

		var appModel = new ApplicationModel(stompClient);
		ko.applyBindings(appModel);

		appModel.connect();
		
		var logout = function(){
			appModel.logout();
		}

	  })();
	</script>
	</div>
</body>
</html>
